<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <%= gravatar_for @account %>
        <h1><%=@account.first_name%></h1>
        <h1><%=@account.posts.count%></h1>
        <%= link_to "Edit",edit_account_registration_path,class: "nav-link"%>
    <hr>
    <p><h1><strong><%=@account.first_name%> has  created <%=@posts.size.to_s%> artists.</strong></h1></p>
    <% @posts.each do |post|%>
    
        <li><strong>Name of Artist:</strong><%=post.name%></li>
        <li><strong>Email id:</strong><%=post.email%></li>
        <li><strong>This Artist is a <%=post.category%></strong></li>

        <hr>
        <%end%>

        </section>
        </aside>
      </div>

      
 